:root {
  /* color */
  --white-color: #f1faee;
  --black-color: #343a40;
  --blue-color: #0077b6;
  --red-color: #e63946;
  --grey-dark-color: #4a4e69;
  --grey-light-color: #9a8c98;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}